<!DOCTYPE html>
<html>
<head>
  <title>GrokTest</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

  <%= stylesheet_link_tag    "grok_admin/application", media: "all" %>
  <%= javascript_include_tag "grok_admin/application" %>

  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">
  <main>

    <header class="ui large menu">
      <section>
        <div class="header item">
          Administration
        </div>
        <div class="right menu">

        </div>
      </section>
    </header>

    <div class="content">
      <div class="ui grid">
        <div class="sixteen wide column">
          <p id="notice"><%= notice %></p>
        </div>
      </div>
    </div>

    <%= yield %>

  </main>
</div>
<footer>
  <section>
    Copyright &copy;2015 Grok-Interactive
  </section>
</footer>

</body>
</html>
