<section>

  <div class="ui vertical accordion menu fluid">

    <% @models.each do |model| %>
    <div class="item">
      <a class="title">
        <i class="dropdown icon"></i>
        <i class="table icon"></i>
        <strong><%= model.name %></strong>
      </a>
      <div class="content">
        <div class="ui form">
          <div class="grouped fields">

            <table class="ui definition table">
              <thead>
              <tr>
                <th></th>
                <% model.column_names.each do |column| %>
                  <th class="<%= column %>">
                    <%= column %><br />
                    <small><%= model.columns_hash[column].type.to_s %></small>
                  </th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              <% model.all.each do |obj| %>
              <tr>
                <td>
                  <i class="black edit icon"></i>
                  <i class="red delete icon"></i>
                  <i class="green save icon"></i>
                  <i class="red undo icon"></i>
                </td>
                <% model.column_names.each do |column| %>
                <%# NO SPACES between the td and the column data or it causes issues %>
                <td class="<%= column %> editable" data-type="<%= model.columns_hash[column].type.to_s %>"><%= obj[column] %></td>
                <% end %>
              </tr>
              <% end %>
              <tr>
                <td colspan="<%= model.column_names.count + 1 %>">
                  <a class="ui right floated small primary labeled icon button" href="#">
                    <i class="add icon"></i> Add Record
                  </a>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</section>
