<section>

  <div class="ui vertical accordion menu fluid">

    <% @models.each do |model| %>
    <div class="item">
      <a class="title">
        <i class="dropdown icon"></i>
        <i class="table icon"></i>
        <strong><%= model.name %></strong>
      </a>
      <div class="content">
        <div class="ui form">
          <div class="grouped fields">

            <table class="ui definition table">
              <thead>
              <tr>
                <th></th>
                <% #model.column_names.each do |column| %>
                <% get_columns(model).each do |column| %>
                  <th class="<%= column %>">
                    <%= column %><br />
                    <small>
                      <% if is_relation? model, column %>
                      <em><%= get_relation_model(model, column).try(:name) %></em>
                      <% else %>
                      <%= get_column_type model, column %>
                      <% end %>
                    </small>
                  </th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              <% model.limit(GrokAdmin::PAGINATION_SIZE).each do |obj| %>
              <tr>
                <td>
                  <% if model.any_grok_admin_editable_columns? %>
                    <i class="black edit icon"></i>
                    <i class="green save icon"></i>
                    <i class="red undo icon"></i>
                  <% end %>
                  <i class="red delete icon"></i>
                </td>
                <% #model.column_names.each do |column| %>
                <% get_columns(model).each do |column| %>
                <%# NO SPACES between the td and the column data or it causes issues %>
                <td class="<%= column %> <%= "editable" if is_editable? model, column %>" data-type="<%= get_column_type model, column %>"><%= obj[column] %></td>
                <% end %>
              </tr>
              <% end %>
              <tr>
                <td colspan="<%= model.column_names.count + 1 %>">

                  <div class="ui pagination menu">
                    <a class="icon item" data-model="<%= model.name %>" data-page="1" data-route="<%= grok_admin.resources_path %>">
                      <i class="left arrow icon"></i>
                    </a>

                    <% ((model.all.count / GrokAdmin::PAGINATION_SIZE) + 1).times do |time| %>
                      <a class="<%= "active " if time == 0 %>item" data-model="<%= model.name %>" data-page="<%= time %>" data-route="<%= grok_admin.resources_path %>">
                        <%= time + 1 %>
                      </a>
                    <% end %>

                    <a class="icon item" data-model="<%= model.name %>" data-page="<%= model.all.count / GrokAdmin::PAGINATION_SIZE %>" data-route="<%= grok_admin.resources_path %>">
                      <i class="right arrow icon"></i>
                    </a>
                  </div>
                  <div class="ui pagination menu">
                    <div class="disabled item">
                      Showing 1 -
                      <%= model.all.count >= GrokAdmin::PAGINATION_SIZE ? 5 : model.all.count %> of
                      <%= model.all.count %>
                    </div>
                  </div>

                  <a class="ui right floated small primary labeled icon button" href="#">
                    <i class="add icon"></i> Add Record
                  </a>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</section>
